/*
/*/
!/code/

/code/part1/__pycache__
/code/part1/source/__pycache__

/code/part2/__pycache__
/code/part2/source/__pycache__

/code/part3/__pycache__
/code/part3/source/__pycache__

/code/part4/__pycache__
/code/part4/source/__pycache__

/code/rbt_correctness.py
!main.tex
!.gitignore
!README.md
!/images/